<meta http-equiv="content-type" charset="utf-8">
<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Translation API Demo</title>

    <script>
        async function doTranslate($this) {
            const glossary_select = document.getElementById("glossaries").value;
            const lang_from = document.getElementById("from_language").value;
            const lang_to = document.getElementById("to_language").value;
            const response = await axios({
                "method": "POST",
                "url": "/translate",
                "data": {
                    "text": $this.value,
                    "glossaryname": glossary_select,
                    "from": lang_from,
                    "to": lang_to
                }
            });
            document.getElementById("output").value = response.data;
            console.log(response.data);
        }

        async function submitTranslate() {
            const text = document.getElementById("input").value;
            const glossary_select = document.getElementById("glossaries").value;
            const lang_from = document.getElementById("from_language").value;
            const lang_to = document.getElementById("to_language").value;
            const response = await axios({
                "method": "POST",
                "url": "/translate",
                "data": {
                    "text": text,
                    "glossaryname": glossary_select,
                    "from": lang_from,
                    "to": lang_to
                }
            });
            document.getElementById("output").value = response.data;
            console.log(response.data);
        }

        async function getGlossaryCat() {
            const glossary_select = document.getElementById("glossaries").value;
            const response = await axios({
                "method": "POST",
                "url": "/glossarycat",
                "data": {
                    "glossaryname": glossary_select
                }
            });
            document.getElementById("glossary_cat").value = response.data;
            console.log(response.data);
        }

        async function createGlossary() {
            const glossary_name = document.getElementById("glossary_name").value;
            const glossary_input = document.getElementById("glossary_cat").value;
            const response = await axios({
                "method": "POST",
                "url": "/createglossary",
                "data": {
                    "glossaryname": glossary_name,
                    "glossary_input": glossary_input

                }
            });
        }

        async function deleteGlossary() {
            const glossary_select = document.getElementById("glossaries").value;
            const response = await axios({
                "method": "POST",
                "url": "/deleteglossary",
                "data": {
                    "glossaryname": glossary_select
                }
            });
            console.log(response.data);
        }
    </script>
</head>


<body>

<body>
<header>
    <h1>Private Google Translate</h1>
    <p>Demo app for private google translate with Translation API Advanced and Cloud Run</p>
    <p>All word which is translated will be uploaded and stored to Cloud Logging but I don't use any data. This tool is
        <a href="https://github.com/yutako0217/private-google-translate">on GitHub</a>, feel free to <a
                href="https://github.com/yutako0217/private-google-translate/issues">report issues</a>.</p>
    <p class="disclaimer">This is not an officially supported Google product.</p>
</header>

<main>
    <div class="group">
        <h2 class="glossary">Glossary</h2>
        <div class="parent3box">
            <div>
                <div class="select">
                    <label for="glossaries"></label>
                    <select id="glossaries" required>
                        <option value="" hidden>Choose Glossary</option>
                        <option value="---">---</option>
                        {% for glossary in glossaries %}
                            <option value="{{ glossary }}">{{ glossary }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <a class="btn" onclick="getGlossaryCat()">Show Glossary Words</a>
            </div>
            <div>
                <a class="btn" onclick="deleteGlossary()">Delete Glossary</a>
            </div>
        </div>

        <div class="glossary_cat">
            <h3 class="text-muted">Word list in the Glossary</h3>
            <label for="glossary_cat"></label>
            <textarea class="file csv" id="glossary_cat" name="glossary_cat" rows="10"></textarea><br>
        </div>

        <h3 class="text-muted">You also can create new glossary. Type new glossary name and click [Create Glossary]
            button</h3>

        <div class="parent3box">
            <div><input type="text" class="inputtxt" id="glossary_name" name="glossary_name"
                        placeholder="New Glossary's Name"></div>
            <div><a class="btn" onclick="createGlossary()">Create Glossary</a></div>

        </div>
    </div>


    <div class="group">
        <h2 class="source_text">Type Source Text</h2>

        <div class="lang_select">
            <select id="from_language" required>
                <option value="" hidden>From Language</option>
                <option value="en">en</option>
                <option value="ja">ja</option>
                <option value="es">es</option>
                <option value="zh">zh</option>
                <option value="ko">ko</option>
            </select>
        </div>

        <form id="source">
            <label for="source-sentence"></label>
            <textarea id="input" class="file input" name="input" onInput="doTranslate(this)">こんにちは</textarea><br>
        </form>
        <div>
            <a class="btn" onclick="submitTranslate()">Translate:)</a>
        </div>
    </div>

    <div class="group">
        <h2 class="translated_text">Translated Text</h2>
        <div class="lang_select">
            <select id="to_language" required>
                <option value="" hidden>To Language</option>
                <option value="en">en</option>
                <option value="ja">ja</option>
                <option value="es">es</option>
                <option value="zh">zh</option>
                <option value="ko">ko</option>
            </select>
        </div>
        <div id="to-run">
            <textarea class="file" id="output" name="output"></textarea><br>
        </div>
    </div>

</main>


